name: Zepter

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  merge_group:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  zepter:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3
      - run: just zepter
